form{

    display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
    background-color: transparent;

}
mat-card{
    background-color: transparent;
    border: none;
}
button{

    width: 30%;
    margin: auto;
}